<div ng-controller="DialogController">
    <div>选择表单元素：</div>
    <div>
        <div>
            <input id="textRadio" type="radio" ng-value="'text'" ng-model="selectedType" name="formRadio" />
            <label for="textRadio">文本</label>
        </div>
        <div>
            <input id="dateRadio" type="radio" ng-value="'date'" ng-model="selectedType" name="formRadio" />
            <label for="dateRadio">日期</label>
        </div>
        <div>
            <button ng-click="selectRadio(selectedType)">选择</button>
            <button ng-click="operateDialog(false)">关闭</button>
        </div>
    </div>
</div>