<div ng-controller="DialogController">
    <div>选择表单元素：</div>
    <div>
        <div>
            <input type="radio" ng-value="'text'" ng-model="selectedType" name="formRadio" />
            <span>文本</span>
        </div>
        <div>
            <input type="radio" ng-value="'date'" ng-model="selectedType" name="formRadio" />
            <span>日期</span>
        </div>
        <div>
            <button ng-click="selecteRadio(selectedType)">选择</button>
            <button ng-click="operateDialog(false)">关闭</button>
        </div>
    </div>
</div>