<!DOCTYPE html>
<html lang="en" ng-app="formApp">
<head>
    <meta charset="UTF-8">
    <title>表单编辑器</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
<div ng-controller="IndexController">
    <div>
        <a href="#/preview" ng-show="coreData.status == 'editor'" ng-click="toggleFormStatus(coreData)">预览</a>
        <a href="#/editor" ng-show="coreData.status == 'preview'" ng-click="toggleFormStatus(coreData)">编辑</a>
    </div>
    <div ng-view></div>
</div>
<script src="./node_modules/angular/angular.js"></script>
<script src="./node_modules/angular-route/angular-route.js"></script>
<script src="./node_modules/jquery/dist/jquery.min.js"></script>
<script src="./node_modules/lodash/lodash.js"></script>
<script src="./controller/index-controller.js"></script>
<script src="./factory/core-data-factory.js"></script>
<script src="./factory/lodash-factory.js"></script>
<script src="./controller/template/editor-controller.js"></script>
<script src="./controller/template/popup-dialog-controller.js"></script>
<script src="./controller/template/preview-controller.js"></script>
</body>
</html>